.header {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../image/logo.jpg);
	background-size: 100%;
	width: 100%;
	height: 700px;
}
.div-center {
	margin: 0 10%;
}
.nav-link {
	font-family: "Montserrat-Regular";
	text-transform: uppercase;
	color: #fff;
}
.logo-link {
	color: #fed136;
}
.navbar {
	padding-top: 40px;
}
.header-content {
	text-align: center;
	margin-top: 150px;
}
.header-button {
	background: #fed136;
	margin-top: 25px;
	color: #fff;
	padding: 15px 50px;
	font-weight: bold;
	font-size: 18px;
}	
.header-content h1 {
	color: #fff;
}
.title-1 {
	font-family: "DroidSerif-Italic";
	font-style: italic;
	font-size: 40px;
}
.title-2 {
	font-family: "Montserrat-Bold";
	font-weight: bold;
	font-size: 75px;
}
.navbar-brand {
	font-family: "ThirstyScriptExtraBoldDemo";
	font-style: italic;
	font-size: 26px;
	color: #fed136;
}